<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1>All our Flats(<%= @flats.count %>)</h1>
        </div>
    </div>
    <div class="row">
      <% @flats.each do |flat| %>
        <div class="col-4 p-2">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <div class="card-title"><h4><%= flat.name %></h4></div>
                <p><%= flat.address %></p>
                <div class="flex">
                <%= flat.price_per_night %>
                <%= flat.number_of_guests %>
                </div>
                <%= link_to "More info", flat_path(flat) %>
              </div>
            </div>
        </div>
      <% end %>
    </div>
</div>
